main.cpp



# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Visual Studio
*.user
*.suo
*.ncb

#Eclipse
Debug/
Debug-OSX/
Release/
Release-OSX/

#Doxygen
Docs/

#Finder files
.DS_Store

#CMakeBuild
build/
